@import 'normalize';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$sizes: (
  default  : calc(10px + .5vw),
  583px : calc(11px + .5vw),
  900px : calc(12px + .5vw),
  1400px: calc(14px + .5vw)
);

@mixin elements-size($sizes-object) {
    @each $breakpoint, $size in $sizes-object {
      @if $breakpoint == 'default' {
        font-size: $size;
      }
      @else {
        @media screen and (min-width: $breakpoint) {
          font-size: $size;
        }
      }
    }
  }


@mixin flex($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin border {
    border: 3px solid black;
}
